<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyfirstMacApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F7EB52F1F701A94005E0649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F7EB5451F701A94005E0649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F7EB5501F701A94005E0649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
